@import "compass/utilities/general/clearfix"

.messenger .message
  +clearfix

  /* Some basic styles, bootsrap will do most of the real work */
  background: gray
  padding: 10px
  margin-top: 10px

  .actions
    float: right

    a
      text-decoration: underline

  .hs-fixed-message-box &
    .actions
      float: left

      margin-top: 10px
